body {
  background-color: #111827;
  color: #f9fafb;
}

main {
  padding: 20px;
}

.nav-item {
  font-size: 14px;
}

nav a {
  color: #f9fafb;
  font-weight: bold;
}

nav a:hover {
  color: #eba832;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #2d3748;
  padding: 20px;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

label {
  display: block;

}

.form-info-fieldsets {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

input[type=text] {
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  color: #f9fafb;
  background-color: #2a3142;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.form-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-add-volunteer {
  border: 1px solid #2d3748;
  border-radius: 6px;
  padding: 20px;
  background: linear-gradient(to left, #16192a, #2a3142);
}

.form-volunteer-card {
  background: linear-gradient(to right, #16192a, #2a3142);
  border: 1px solid #2d3748;
  border-radius: 6px;
  padding: 20px;
  margin-block: 20px;
  gap: 16px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.form-volunteer-card p {
  color: #9ca3af;
  margin: 1px;
}

.form-volunteer-card h2, .form-add-assignment h2 {
  margin: 0px;
}

.volunteer-assignments, .form-assignment-fieldset {
  display: flex;
  gap: 16px;
  margin-top: 8px;

}

.form-assignment-fieldset {
  align-items: flex-end;
}

.volunteer-assignment {
  background-color: #111827;
  padding: 4px 8px;
  border-radius: 16px;
  border: 1px solid #2d3748;
}

.assignment-multi-select {
  margin-top: 12px;
}

.form-add-assignment {
  border: 1px solid #2d3748;
  border-radius: 6px;
  padding: 20px;
  background: linear-gradient(to left, #16192a, #2a3142);
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #2d3748;;
  padding: 10px;
  text-align: left;
}

/* Stacked layout on small screens */
@media screen and (max-width: 767px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none; /* Hide the main header row */
  }
  
  tr {
    margin-bottom: 15px;
    border: 1px solid #2d3748;;
    border-radius: 8px;
    padding: 10px;
   
  }

  td {
    border: none;
    border-bottom: 1px solid #2d3748;;
    position: relative;
    text-align: center;
  }

  td:last-child {
    border-bottom: none;
  }
}.react-select__control {
  background-color: #111827 !important;
  border: 1px solid #2d3748 !important;
}

.react-select__multi-value {
  background-color: #2a3142 !important;
  color: #f9fafb !important;

}

.react-select__multi-value__label {
  background-color: #2a3142 !important;
  color: #f9fafb !important;

}

.react-select__indicator-separator {
  background-color: #2d3748 !important;
}

.react-select__menu {
    background-color: #111827 !important;
    border: 1px solid #2d3748 !important;
}

.react-select__option--is-focused {
  background-color: #2a3142 !important
}

.react-select__multi-value__remove:hover{
  background-color: #840505 !important;
  color: #f9fafb !important;
}

.react-select__single-value {
  color: #f9fafb !important;
}

.react-select__indicator-separator {
  background-color: #2d3748 !important;
}

.react-select__dropdown{
  border: 1px solid #2d3748 !important;
}

.react-select__value-container {
  background-color: #111827 !important;
}

.react-select__control {
  border: 1px solid #2d3748 !important;
}

