body {
  background-color: #111827;
  color: #f9fafb;
}

main {
  padding: 20px;
}

.nav-item {
  font-size: 14px;
}

nav a {
  color: #f9fafb;
  font-weight: bold;
}

nav a:hover {
  color: #eba832;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #2d3748;
  padding: 20px;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

label {
  display: block;

}

.form-info-fieldsets {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

input[type=text] {
  padding: 6px;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}

.form-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form-add-volunteer {
  border: 1px solid #2d3748;
  border-radius: 6px;
  padding: 20px;
  background: linear-gradient(to left, #16192a, #2a3142);
}

.form-volunteer-card {
  background: linear-gradient(to right, #16192a, #2a3142);
  border: 1px solid #2d3748;
  border-radius: 6px;
  padding: 20px;
  margin-block: 20px;
  gap: 16px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.form-volunteer-card p {
  color: #9ca3af;
  margin: 1px;
}

.form-volunteer-card h2 {
  margin: 0px;
}

.volunteer-assignments {
  display: flex;
  gap: 16px;
  margin-top: 8px;

}

.volunteer-assignment {
  background-color: #111827;
  padding: 4px 8px;
  border-radius: 16px;
  border: 1px solid #2d3748;
}

.assignment-multi-select {
  margin-top: 12px;
}

