.auth-container {
  border: 1px solid #2d3748;
  margin: 3rem 1rem;
  padding: 2rem;
  border-radius: 6px;
  background: linear-gradient(to left, #16192a, #2a3142);
}

.header {
  font-size: 2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.auth-form-input {
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
  color: #f9fafb;
  background-color: #2a3142;
  border: 1px solid rgba(255, 255, 255, 0.5);
  
  
}

.register-link {
  text-align: center;
  padding: 16px; 
}

.auth-fieldset {
  margin: 0.25rem 0rem;
  display: flex;
  gap: 16px;
}

